<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Podgląd/edycja zamówienia</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2>Podgląd/edycja zamówienia</h2>

    <form class="form-horizontal" th:action="@{/doEditOrder}" method="post">

        <div class="form-group">
            <label class="col-sm-2 control-label">Firma transportowa:</label>
            <div class="col-sm-10">
                <select class="form-control" th:field="*{clientorder.transport}"  >
                    <option selected value="0">nie wybrano</option>
                    <option th:each="transport : ${transports}" th:value="${transport.id}" th:text="${transport.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group"  >
            <label class="col-sm-2 control-label">Data zlecenia do FT:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{clientorder.dateOfOrderToTransport}">
                </input>
            </div>
        </div>

        <div class="form-group"  >
            <label class="col-sm-2 control-label">Data wysyłki do klienta:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{clientorder.dateOfSendToClient}">
                </input>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" th:field="*{clientorder.id}" />
            </div>
        </div>


        <div class="row">
            <button type="submit" class="btn btn-default">Edytuj</button>
            <button onclick="location.href='/index'" type="button" class="btn btn-default">
                Anuluj</button>
        </div>
    </form>
</div>
</body>
</html>