<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #fe6a00;
            color: white;
        }
    </style>

</head>
<body>
<h2>Zamówienia (<span style="color: #fe6a00" th:text="${orders.size()}"></span>)</h2>
<table>
    <tr>
        <th>Data zamówienia</th>
        <th>Dane klienta</th>
        <th>Dostawca</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Ogólna kwota</th>
    </tr>
    <tr th:each="order : ${orders}">

        <td th:text="${order.getOrderDetails().iterator().next().dateOfOrderByClient}"></td>
        <td th:utext="${'<strong>' + order.client.zipCode+ ' ' +order.client.city + '</strong></br>' + order.client.address + '</br>' + order.client.tel}"></td>
        <td th:text="${order.getOrderDetails().iterator().next().product.supplier.name}"></td>
        <td th:text="${order.getOrderDetails().iterator().next().product.productName}"></td>
        <td th:text="${order.getOrderDetails().iterator().next().quantity}"></td>

        <td th:text="${order.getOrderDetails().iterator().next().product.myPrice * order.getOrderDetails().iterator().next().quantity}"></td>

        <td>
<!--            <a th:href="@{/editClient/__${client.id}__}">Edytuj</a>-->
<!--            <a th:href="@{/deleteClient/__${client.id}__}">Usuń</a>-->
        </td>
    </tr>
</table>
<br>
<button onclick="location.href='/index'" type="button" class="btn btn-default">Powrót</button>
</body>
</html>