<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Dostawcy</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #fe6a00;
            color: white;
        }
    </style>

</head>
<body>
<h2>Dostawcy (<span style="color: #fe6a00" th:text="${suppliers.size()}"></span>)</h2>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Kod pocztowy</th>
        <th>Miasto</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>www</th>
        <th>Uwagi</th>
    </tr>
    <tr th:each="supplier : ${suppliers}">
        <td th:text="${supplier.name}"></td>
        <td th:text="${supplier.zipCode}"></td>
        <td th:text="${supplier.city}"></td>
        <td th:text="${supplier.address}"></td>
        <td th:text="${supplier.tel}"></td>
        <td><a th:href="@{mailto:__${supplier.email}__}"><span th:text="${supplier.email}"></span></a></td>
        <td><a th:href="@{//__${supplier.www}__}"><span th:text="${supplier.www}"></span></a></td>
        <td th:text="${supplier.comments}"></td>
        <td>
            <a th:href="@{/editSupplier/__${supplier.id}__}">Edytuj</a>
            <a th:href="@{/deleteSupplier/__${supplier.id}__}">Usuń</a>
        </td>
    </tr>
</table>
<br>
<button onclick="location.href='/index'" type="button" class="btn btn-default">Powrót</button>
</body>
</html>