<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2>Edytuj kategorię</h2>

    <form class="form-horizontal" th:object="${category}" th:action="@{/doEditCategory}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Błąd</p>
        </div>



        <div class="form-group" th:class="${#fields.hasErrors('categoryName')} ? 'form-group has-error' : 'form-group'" >
            <label class="col-sm-2 control-label">Nazwa kategorii:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{categoryName}" th:errorclass="has-error" />
                <span class="help-block" th:if="${#fields.hasErrors('categoryName')}">
                    <p th:text="${'Pole wymagane'}"></p>
                </span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{description}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" th:field="*{id}" />
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Edytuj</button>
            <button onclick="location.href='/index'" type="button" class="btn btn-default">
                Anuluj</button>
        </div>
    </form>
</div>
</body>
</html>