<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #fe6a00;
            color: white;
        }
    </style>

</head>
<body>
<h2>Kategorie (<span style="color: #fe6a00" th:text="${categories.size()}"></span>)</h2>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryName}"></td>
        <td th:text="${category.description}"></td>
        <td>
            <a th:href="@{/editCategory/__${category.id}__}">Edytuj</a>
            <a th:href="@{/deleteCategory/__${category.id}__}">Usuń</a>
        </td>
    </tr>
</table>
<br>
<button onclick="location.href='/index'" type="button" class="btn btn-default">Powrót</button>
</body>
</html>