<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>oms</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

</head>
<body>
<img th:src="@{images/smiley.jpg}" alt="eloo" th:width="100" />
System zarządzania...

<ul>
    <li><a th:href="@{/supplierHome}">Dostawcy</a></li>
    <li><a th:href="@{/transportHome}">Firmy transportowe</a></li>
    <li><a th:href="@{/productCategoryHome}">Kategorie</a></li>
    <li><a th:href="@{/clientHome}">Klienci</a></li>
    <li><a th:href="@{/orderMethodsHome}">Formy zamówienia</a></li>
    <li><a th:href="@{/productHome}">Produkty</a></li>



</ul>

<!--<form th:action="@{/clientHome}" method="get">-->
<!--    <button type="submit" class="btn btn-default">Klienci</button>-->
<!--</form>-->

</body>
</html>