<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formy zamówienia</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

</head>
<body>

<ul>
    <li><a th:href="@{/orderMethods}">Pokaż wszystkie formy zamówień</a></li>
    <li><a th:href="@{/addOrderMethod}">Dodaj nową formę zamówień</a></li>
</ul>

</body>
</html>